html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}
body {
    background-color: mediumorchid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* outline: 1px solid yellow; */
    height: 100%;
}

/* body > * {
    outline: 1px solid fuchsia;
} */
.quoteDisplay {
    height: 200px;
    font-size: 18px;
    
    

}

.buttonContainer {
    text-align: center;
}